
body{
    font-family: 'Roboto Slab', serif;
}

.nav{
    position: relative;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0rem 1rem;
    margin-top: -20px;
    z-index: 999999999999999;
}
ul{
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

ul li{
   font-size: 20px; 
   cursor: pointer;
   letter-spacing: 0.1em;
   color: #e29578;
   text-shadow: 0px 1px 2px rgba(134, 88, 71, 1);
   font-weight: 600;
   transition: all 0.5s ease;
}

ul li:hover{
    scale: 110%;
}

.active{
    border-bottom: 3px solid #e29578;
}

h3{
    font-size: 20px;
    color: #e29578;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-shadow: 0px 1px 2px rgba(134, 88, 71, 1);
    font-weight: 700;
}
.nav span{
    font-size: 20px;
    color: #0a6177;
    text-shadow: 0px 1px 1px rgba(18, 35, 39, 1);
    font-weight: 700;
}
.container{
    position: fixed;
    left:59%;
    top:23%;
    transform: translate(-50%,-50%);
    width:206%;
    height:138%;
    background-color: #f5f5f5;
    box-shadow: 0 10px 20px #dbdbdb;
}
#slide{
    width:17px;
    margin-top:35px;
}
.item{
    width:139px;
    height:255px;
    background-position:  100% 100% ;
    background-position: center;
    background-size:cover;
    display: inline-block;
    transition: 0.7s;
    position: absolute;
    z-index: 1;
    top:71%;
    transform: translate(0,-50%);
    border-radius: 20px;
    box-shadow:  0 10px 20px #505050;
}
.item:nth-child(1){
   left:-9%;
    top:17%;
    transform: translate(0,0);
    border-radius: 0;
    width:95%;
    height:88%;
    box-shadow: none;
    
}
.item:nth-child(2){
    left:-3%;
    top:17%;
    transform: translate(0,0);
    border-radius: 0;
    width:95%;
    height:88%;
    box-shadow: none;
}
.item:nth-child(3){
    left:48%;
}
.item:nth-child(4){
    left:calc(50% + 1px);
}
.item:nth-child(5){
    left:calc(52% + 2px);
}
.item:nth-child(n+7){
    left:calc(54% + 3px);
    opacity: 0;
}
.item:nth-child(n+6){
    left:calc(56% + 4px);
    opacity: 0;
}
.item .content{
    position: fixed;
    top:83%;
    left:30%;
    width:188px;
    text-align:left;
    padding:1rem;
    color: #0f4c5c;
    text-shadow: 0px 3px 5px rgba(18, 35, 39, 1);
    transform: translate(0,-50%);
    display: none;
}

span{
    color: #e29578;
    font-weight: 90;
}
.item:nth-child(2) .content{
    display: block;
    z-index: 11111;
}
.item .name{
    font-size: 45px;
    left:20%;
    font-weight: 83;
    opacity: 0;
    animation:anim 1s ease-in-out 1 forwards
}

.btn{
    padding:0.6rem 1.5rem;
    margin-top: 1rem;
    border:none;
    opacity: 0;
    font-size: 22px;
    outline: none;
    border-radius: 25px;
    background: linear-gradient(45deg, #0f4c5c, #e29578, #0f4c5c);
    text-transform: uppercase;
    font-weight: 200;
    animation:anim 1s ease-in-out 0.6s 1 forwards;
    transition: all 0.5s ease;
    cursor: pointer;
    color: #0f4d5c;
    letter-spacing: 0.1em;
    text-shadow: 0px 1px 1px rgba(18, 35, 39, 1);
}

.btn:hover{
    scale: 105%;
}
@keyframes anim{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter:blur(33px);
    }to{
        opacity: 1;
        transform: translate(0,0);
        filter:blur(0);
    }
}
.buttons{
    position: absolute;
    left:8%;
    bottom:60px;
    z-index: 222222;
    text-align: center;
    width:100%;
}
.buttons button{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:1px solid #555;
    transition: 0.5s;
    cursor: pointer;
}


.buttons button:hover{
    background-color: #e29578;
}
